
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

<a href="/Admin/CourseManagement" class="btn btn-default">Course Management</a>
<a href="/Admin/UserManagement" class="btn btn-default">User Management</a>

